* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 45px 500px 3fr 45px;
    grid-template-areas: "head head" "aside main" ". main" "footer footer";
    grid-gap: 10px
}
/* HEAD */
.head {
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-image: url(img/stix/pentagon.png);
    border-bottom: 2px solid black;
}
.head .logo {
    justify-self: center;
}
.head .logo img {
    width: 40px;
}
/* NAVIGATION */
.nav {
    justify-self: center;
    padding: 0.5em;
}
.nav h2 {
    margin-top: 5px;
    display: inline;
    margin-left: 10px
}
.nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
}
.nav a:hover {
    font-style: italic;
    color: #eee;
    text-shadow: 0px 1px 3px black;
}
.nav .faicon {
    color: #eee;
}
/* ASIDE */
.aside {
    position: relative;
    grid-area: aside;
    height: 100%;

}
.aside .card {
    display: grid;
    grid-template-rows: 60px 2fr 1fr 40px;
    grid-template-areas: "card-head" "card-body" "card-bottom" "card-footer";
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -1px 0px 3px black;
}
/* HEAD */
.card-head {
    grid-area: card-head;
    background-image: url(img/stix/curls.png);
    background-repeat: repeat-x;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.card-head h2 {
    padding: 0.5em;
    color: rgb(153, 153, 153);
    text-shadow: 0px 2px 2px black;
    font-size: 1.1em;
}
.card-avatar {
    padding: 0.3em;
}
.card-avatar img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid grey;
    float: left;
}
/* BODY */
.card-body {
    grid-area: card-body;
    background-color: white;
    border-top: 1px solid black;
}
.card-body ul {
    list-style-type: none;
}
.card-body li {
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}
.card-body li h4 {
    font-size: 1em;
    display: inline;
    text-shadow:
}
.card-body li p {
    font-size: 0.9em;
    display: inline;
    padding: 0.2em;
}
/* BOTTOM */
.card-bottom {
    grid-area: card-bottom;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid black;
    border-bottom: 1px inset black;
    background-image: url(img/stix/curls.png);
    background-repeat: repeat;
    background:
    background-size: contain;
}
.card-counter {
    padding: 1em;
    justify-self: center;
}
.card-counter-item {
    display: inline-block;
    margin: auto;
    text-align: center;
}
.card-counter-item h4 {
    color: rgb(153, 153, 153);
    text-shadow: 0px 2px 2px black;
}
.card-counter-item p {
    color: rgb(153, 153, 153);
    text-shadow: 0px 2px 2px black;
}
/* FOOTER */
.card-footer {
    box-sizing: border-box;
    grid-area: card-footer;
    justify-self: center;
    margin: auto;
    word-spacing: 10px;
    font-size: 1em;
}
.card-footer a {
    color: inherit;
}
.card-footer a:hover {
    text-shadow: -2px 3px 2px black;
    color: white;
}
/* MAIN */
.main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr;
    grid-template-rows: 108px 1fr;
    grid-template-areas: "textarea" "feed";
}
/* TEXTAREA */
.textarea {
    grid-area: textarea;
}
.textarea form textarea[placeholder] {
    text-align: center;
}
.textarea form {
    padding: 2em;
}
.textarea form textarea {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px #eee;
    background-image: url(img/stix/stonehaven.png);
    background-repeat: repeat-y: repeat-x;
}
.textarea form button {
    float: right;
    border: 1px solid black;
    box-shadow: -1px 0px 3px black;
    padding: 0.1em;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;
}
.textarea form button:hover {
    border: 1px solid black;
    padding: 0.3em;
    border-radius: 10px;
    box-shadow: -1px 0px 3px black;
    font-family: inherit;
    font-size: inherit;
    color: white;
    text-shadow: 1px 0px 3px black;
    background-image: url(img/gucci.jpg);
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;
}
/* FEED */
.feed {
    grid-area: feed;
}
.timeline {
    height: 100%;
    padding: 1em;
}
.tweet {
    display: grid;
    border-radius: 15px;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 40px 2fr 1fr;
    background: #eee;
    box-shadow: -1px 0px 3px black;
}
/* TWEET AVATAR */
.tweet-avatar {
    grid-column: 1;
    grid-row: 1/4;
    justify-self: center;
}
.tweetlogo {
    padding: 1em;
}
.tweet-avatar .tweetlogo img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: -1px 0px 3px black;
}
/* TWEET NAME */
.tweet-name {
    grid-column: 2/4;
    padding: 1em;
    justify-self: start;
}
.tweet-name h2 {
    padding: auto;
    font-size: 1.1em;
}
/* TWEET BODY */
.tweet-body {
    grid-column: 2/4;
    grid-row: 2;
    padding: 1em;
}
.tweet-bubble {

    border-radius: 20px;
    background: white;
    padding: 1em;
}
.tweet-bubble p {
    font-size: 1.1em;
}
.tweet-bubble p:hover {
    font-style: italic;
    text-decoration: none;
}
.tweet-bubble a{
    text-decoration: none;
    color:inherit;
}
/* TWEET SHOW */
#show{
    grid-template-rows: 1fr 2fr;
}
.tweet-show{
    padding: 1em;
    grid-row: 1/2;
}
.tweet-show .tweetlogo{
    float:left;
}
.tweet-show .tweetlogo img{
    width:150px;
    display: inline-block;
    border: 5px solid #eee;
    box-shadow: -5px 0px 4px black;
}
.tweet-show .tweet-name{
    display: inline;
}
.tweet-show .tweet-body .tweet-bubble{
    padding: 1em;
    background: #eee;
    border-radius: 20px;
    box-shadow: -5px 3px 4px black;
}
.tweet-show .tweet-body .tweet-bubble p{
    padding: 1em;
    font-size: 1.3em;
    font-family: cursive;
}
.tweet-show .tweet-bubble p:hover{
        font-weight: bold;
        text-decoration: none;
    }
}
.tweet-show .tweet-interaction{
    padding: 1em;
    display: inline;
}
.tweet-show .tweet-interaction a:hover{
    color: #e5eaf0;
    text-shadow: -1px 1px 3px black;
}
.tweet-show .tweet-datetime {
    float:right;
}
/* COMMENTS */
#show .comments{
    grid-row: 2/3;
    padding: 1em;
}
 #show .comments .commentline{
    list-style: none;
    padding: 1em;
    background: #eee;
    border-radius: 20px;
    box-shadow:-5px 3px 4px black;
}
#show .commentline .comment-avatar{
    padding: 1em;
    float: left;
}
#show .commentline .comment-avatar img{
    width:100px;
    border: 2px solid #eee;
    border-radius: 50%;
    box-shadow: -5px 0px 4px black;
}
#show .commentline .commentbody{
    padding: 1em;
    display:inline;
}
#show .commentline .commentBody .commentBubble{
    padding: 1em;
}
#show .commentline .commentBody .commentBubble p{
    background: #eee;
    border-radius: 20px;
    box-shadow: -5px 4px 4px black;
}
#show .commentForm{
    padding:2em;
}
#show .commentForm form{
    padding: 1em;
    background: #eee;
    border-radius: 20px;
    box-shadow: -5px 4px 4px black;
}
#show .commentForm .form-group{
    padding: 0.5em;
}
#show .commentForm textarea{
    width:100%;
    height: 60px;
    border-radius: 10px;
    box-shadow: -2px 2px 4px black;
}
#show .commentForm textarea[placeholder]{
    padding: 1.5em;
}
#show .commentForm button{
    border-radius: 20px;
    background: inherit;
    font-size: 1em;
    padding: 0.5em;
}
#show .commentForm button:hover{
    background: gold;
    padding:0.7em;
    font-weight: bold;
    transition: all 0.4s;
}
/* EDIT POST */
#show .editPost{
    padding: 1em;
    background: #eee;
    border: 2px solid black;
    border-radius: 20px;
}
#show .editPost h2{
    padding: 0.5em;
    font-size: 2em;
    text-shadow: 2px 0px 5px white;
}
    #show .editPost .showPost{
        background-color: white;
        padding:1em;
        border-radius: 20px;
        box-shadow: -2px 1px 3px black;
    }
    #show .editPost .showPost p{
        font-size: 1.4em;
        font-family:  serif;
    }
    #show .editPostForm {
        padding: 1em;
    }
    #show .editPostForm form{
        display: inline;
    }
    #show .editPostForm .form-group textarea{
        width:100%;
        border-radius: 10px;
        box-shadow:-2px 1px 3px black;
    }
    #show .editPostForm .form-group textarea[placeholder]{
        padding: 1em;
    }
    #show .editPostForm button{
        display: inline;
        border-radius: 10px;
        background-color: inherit;
        padding: 0.5em;
    }
    #show .editPostForm button:hover{
        font-weight: bold;
        cursor: pointer;
        background: rgb(69, 208, 51);
        border: 1px solid black;
        box-shadow: 0px 1px 3px black;
    }
    #show .editPostForm .deletebtn:hover{
        background: rgb(218, 45, 45);
    }
/* INTERACTION */
.tweet-interaction {
    grid-column: 2/3;
    grid-row: 3;
}
.tweet-interaction a {
    color: inherit;
    text-transform: none;
    text-decoration: none;
}
.tweet-interaction a:hover {
    color: #e5eaf0;
    text-shadow: -1px 1px 3px black;
}
/* TWEET DATETIME */
.tweet-datetime {
    grid-column: 3/4;
    grid-row: 3;
    justify-self: end;
    padding-right: 1em;
}
/* FOOTER */
.footer {
    display: block;
    grid-area: footer;
    justify-self: end;
}
/* END OF FOOTER */
.grid div:nth-child(even) {}
.grid div:nth-child(odd) {}
@media screen and (min-width: 736px) {
    .grid {
        display: grid;
        grid-template-columns: 20px 1fr 3fr 20px;
        grid-template-rows: 45px 300px 3fr 45px;
        grid-template-areas:
        "head head head head"
        ". aside main ."
         ". . main ."
         "footer footer footer footer";

    }
    .card-head h2 {
        padding: 0.5em;
        color: rgb(153, 153, 153);
        text-shadow: 0px 2px 2px black;
        font-size: 1.5em;
    }
    .tweet-name h2 {
        padding: auto;
        font-size: 1.5em;
    }
}
