* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "registry";
    src: url(fonts/registry.woff);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "lucida";
    src: url(fonts/LCALLIG.woff);
    font-weight: 100;
    font-style: normal;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45px 500px 3fr 45px;
    grid-template-areas: "head head" "aside main" "aside main" "footer footer";
    grid-gap: 10px
}

/* USER */

/* HEAD */

.head {
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-image: url(img/stix/pentagon.png);
    border-bottom: 2px solid black;
}

.head .logo {
    justify-self: center;
}

.head .logo img {
    width: 40px;
}

/* NAVIGATION */

.nav {
    justify-self: center;
    padding: 0.5em;
}

.nav h2 {
    margin-top: 5px;
    display: inline;
    margin-left: 10px
}

.nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav a:hover {
    font-style: italic;
    color: #eee;
    text-shadow: 0px 1px 3px black;
}

.nav .faicon {
    color: #eee;
}

/* END OF NAVIGATION */

/* END OF HEAD */

/* ASIDE */

 .aside {
    grid-area: aside;
    justify-self: center;
}

 .aside .avatar-card {
    background-image: url(img/stix/curls.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #201c16;
    box-shadow: -2px 2px 3px #544837;
}

 .aside .profile-avatar {
    padding: 1em;
}

 .aside .profile-avatar img {
    width: 11em;
    border: 5px solid #201c16;
    border-radius: 50%;
    box-shadow: -5px 0px 3px black;
}

 .aside .profile-name {
    padding: 1em;
}

 .aside .profile-name h2 {
    color: #eee;
    font-family: registry;
    font-size: 1.4em;
    text-shadow: -3px 0px 5px black;
}

/* END OF ASIDE */

/* MAIN */

 .main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

 .main .profile-card {
    padding-top: 1em;
    grid-row: 1/2;
}

 .main .profile-card ul {
    list-style: none;
    background: #eee;
    border-radius: 10px;
    box-shadow: 1px 2px 5px black;
}

 .main .profile-card .profile-info li {
    font-size: 1em;
    padding: 0.5em;
    display: block;
    text-shadow: 2px 3px 2px white;
}

 .main .profile-card .profile-info h4 {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    display: inline-block;
}

 .main .profile-card .profile-info p {
    color: black;
    display: inline;
    font-family: monospace;
}

.main .profileInteract{
    padding: 1em;
}

 .main .profileInteract .btn {
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 5px;
    padding: 0.5em;
    color:black;
}

 .main .profileInteract .btn:hover {
    font-weight: bold;
    color:white;
    text-shadow: 0px 1px 3px black;
    background-image: url(img/stix/curls.png);
    background-size:cover;

}


 .main .counter {
    grid-row: 2/3;
    justify-self: center;
}

 .counter .counter-card {
    padding: em;
    display: inline-block;
}

 .counter .counter-card-item {
    font-size: 1.3em;
    padding: 1em;
    text-align: center;
    background-image: url(img/stix/curls.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #201c16;
    box-shadow: -2px 2px 3px #544837;
}

 .counter .counter-card-item h3 {
    font-weight: bold;
    font-family: cursive;
    color: white;
    text-shadow: -2px 4px 0px black;
}

 .counter .counter-card-item p {
    color: #eee;
    font-size: 1em;
    text-shadow: -2px 2px 3px black;
}

/* END OF MAIN */

/* FOOTER */

.footer {
    grid-area: footer;
    justify-self: end;
}

.footer p {}

/* END OF FOOTER */

/* END OF USER */

/* EDIT USER */

 .main .edit-profile {
    padding: 1em;
    background: #eee;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: -1px 2px 3px black;
}

 .edit-profile form {
    padding: 1em;
    display: inline;
}

 .edit-profile .profile-item {
    padding: 0.5em;
    font-size: 1.2em;
}

 .edit-profile .profile-item label {
    font-weight: bold;
}

 .edit-profile .profile-item textarea {
    height: 60px;
    width: 100%;
}

 .edit-profile .profile-item input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

 .edit-profile .profile-item input[placeholder] {
    padding: 1em;
}

 .edit-profile button {
    float: left;
    display: inline-block;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5em;
}

 .edit-profile button:hover {
    cursor: pointer;
    transition: all 0.3s;
    padding: 0.8em;
    font-weight: bold;
    background: rgb(11, 162, 0);
}

 .edit-profile .delete {
    float: right;
}

 .edit-profile .delete:hover {
    background: rgb(249, 34, 34);
}

/* END OF EDIT USER */

@media screen and (min-width: 736px) {
    .grid {
        display: grid;
        grid-template-columns: 20px 1fr 3fr 20px;
        grid-template-rows: 45px 300px 3fr 45px;
        grid-template-areas: "head head head head" ". aside main ." ". aside main ." "footer footer footer footer";
    }
    /* COUNTER */
     .main .counter {
        grid-row: 2/3;
        justify-self: center;
    }
     .counter .counter-card {
        padding: 2.5em;
        display: inline-block;
    }
     .counter .counter-card-item {
        font-size: 1.3em;
        padding: 4em;
        text-align: center;
        background-image: url(img/stix/curls.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        border: 2px solid #201c16;
        box-shadow: -2px 2px 3px #544837;
    }
     .counter .counter-card-item h3 {
        font-weight: bold;
        font-family: cursive;
        color: white;
        text-shadow: -2px 4px 0px black;
    }
     .counter .counter-card-item p {
        color: #eee;
        font-size: 1em;
        text-shadow: -2px 2px 3px black;
    }
    /* END OF COUNTER */
}
